@font-face {
    font-family: "TASA";
    src: url(fonts/TASA_Explorer/TASAExplorer-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Recursive";
    src: url(fonts/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

.page_title {
    max-height: ;
    color: #0488a9;
    background-color: rgb(251, 227, 138, 0.3); 

    /* centers content within the block element */
    text-align: center;
    /* centers content within the webpage */
    margin-top: 15px;
    margin: 0 auto;
    padding: 15px;
    border: 5px double rgb(0, 20, 59);
    font-size: 8em;
    font-family: Recursive;
    text-shadow: 4px 4px 10px #000000f0;
    

}

#row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;

}

.img_1 {
    width: 100%;
    height: 2in;
    border: 5px double rgb(0, 20, 59);
    object-fit: cover;
}

figcaption {
    text-align: center;
}

header {
    background-image: url("img/csumb_student_union.jpg");
    background-repeat: repeat;
    /* width: 95%; */

}

body {
    background-color: blanchedalmond;
    padding: 0%;
    font-family: Recursive;
    
}

nav {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 2px 2px 5px #000000a9;
    /* width: 95%; */
}

.button {
    /* background-color: rgb(251, 227, 138, 0.3);
    border: 5px double rgb(0, 20, 59);

    padding: 5px;
    width: 33%;
    color: rgb(0, 52, 80); */
    background-color: #0488a9; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  width: 33%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    font-family: 'Recursive', sans-serif;
    border: 2px solid #036178;
    
    
}
.button1{
    background-color: #0488a9; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  width: 33%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    font-family: 'Recursive', sans-serif;
    border: 2px solid #036178;
    
}

.button:hover{
     background-color: #0488a98f;
     color:  rgb(0, 76, 229);
}

.button1:hover {
      background-color: #0488a98f;
     color:  rgb(0, 76, 229);
}

#welcome_message {
    color: rgb(0, 20, 59);
    background-color: rgb(251, 227, 138, 0.3);
    border: 5px double rgb(0, 20, 59);
    padding: 5px;
}

.information {
    display: flex;
    gap: 5px;
}

.table-1 {
    margin-top: 5px;
    color: rgb(0, 20, 59);
    background-color: rgb(251, 227, 138, 0.3);
    border: 5px double rgb(0, 20, 59);
    padding: 5px;
    width: 50%;
}


.form {
    margin-inline: 5px;
    margin-block: 10px;
    
    border: 5px double rgb(0, 20, 59);
    

    &>iframe {
        width: 100%;
        height: 640px;
        display: block;
        padding-right: 5px;
    }

}
.page-bottom{
    
    min-height: calc(100%-);
    position: fixed;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 10px;
    
   font-family: TASA;
    left: 0;
    bottom: 0;
    

}

.footer{
    margin-top: auto;
}
.line{
    color: rgb(0, 20, 59);
    border: 5px double rgb(0, 20, 59);
    width: 100%;
   margin-right: ;
    margin-bottom: auto;
}