@font-face {
    font-family: "TASA";
    src: url(fonts/TASA_Explorer/TASAExplorer-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Recursive";
    src: url(fonts/Recursive/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

.page_title {
   font-size: 8em;
    font-family: Recursive;
    text-shadow: 4px 4px 10px #000000f0;
    background-color: rgba(244, 219, 182, 0.498);
    width: 100%;
}
.top {
    width: 100%;
    display: flex;
    align-items: center;
    color: rgb(247, 233, 211);
    text-align: center;
    vertical-align: middle;
    
    margin: 0 auto;
    
    
    min-height: 30vh;
    background-image: url("img/csumb_student_union.jpg");
    background-repeat: repeat;
    box-shadow: 4px 4px 10px #000000f0;
    justify-content: center;
}

#row { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.img_1 {
    width: 100%;
    height: 2in;
    box-shadow: 4px 4px 10px #000000f0;
    object-fit: cover;
}

figcaption {
    text-align: center;
}

body {
    box-shadow: 4px 4px 10px #000000f0;
    background-color: blanchedalmond;
    padding: 0%;
    font-family: Recursive;
}

.main {
    min-height: 55vh;
    margin-top: 5px;
}

nav {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    text-shadow: 2px 2px 5px #000000a9;
    box-shadow: 4px 4px 10px #00000096;
    /* width: 95%; */
}

.button {
    
    background-color: rgb(251, 227, 138, 0.3);
    /* Green */
    border: none;
    color: rgb(0, 20, 59);
    padding: 15px 32px;
    width: 33%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Recursive', sans-serif;
    border: 1px solid rgba(48, 42, 19, 0.158);



}

.button1 {
    background-color: rgb(251, 227, 138, 0.3);
    /* Green */
    border: none;
    color: rgb(0, 85, 255);
    padding: 15px 32px;
    width: 33%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Recursive', sans-serif;
    border: 1px solid rgba(48, 42, 19, 0.158);

}

.button:hover {
    background-color: #04b8bb50;
    color: rgb(0, 76, 229);
}

.button1:hover {
    background-color: #04b8bb50;
    color: rgb(0, 76, 229);
    
    
}

#welcome_message {
    box-shadow: 4px 4px 10px #000000f0;
    color: rgb(0, 20, 59);
    background-color: rgb(251, 227, 138, 0.3);
    
    padding: 5px;
    
}

.information {
    display: flex;
    gap: 5px;
    justify-content: top;
}

.table-1 {
    margin-top: 5px;
    color: rgb(0, 20, 59);
    background-color: rgb(251, 227, 138, 0.3);
    
    padding: 5px;
    width: 50%;
    box-shadow: 4px 4px 10px #000000a2;
    
}


.form {
    margin-inline: 5px;
    margin-block: 10px;
    box-shadow: 4px 4px 10px #000000f0;
    &>iframe {
        width: 100%;
        height: 80vh;
        display: block;
        padding-right: 5px;
    }

}

.page-bottom {

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    color: rgb(0, 20, 59);
    background-color: rgba(46, 36, 0, 0.13);
    padding: 5px;
    box-shadow: 4px 4px 10px #000000f0;

}

.small_text {
    font-family: TASA;
    font-size:small;
    color: rgba(0, 0, 0, 0.672);
}

.footer {
    margin-top: auto;
}