@font-face {
    font-family: "TASA";
    src: url(fonts/TASA_Explorer/TASAExplorer-VariableFont_wght.ttf);
}

.page_title {
    color: rgb(0, 20, 59);
    background-color: rgb(251, 227, 138, 0.3); 

    /* centers content within the block element */
    text-align: center;
    /* centers content within the webpage */
    margin-top: 15px;
    margin: 0 auto;
    padding: 15px;
    border: 5px double rgb(0, 20, 59);
    font-size: 8em;
    font-family: TASA;
    font-variant: small-caps;

}

#row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;

}

.img_1 {
    width: 100%;
    height: 2in;
    border: 5px double rgb(0, 20, 59);
    object-fit: cover;
}

figcaption {
    text-align: center;
}

header {
    background-image: url("img/csumb_student_union.jpg");
    background-repeat: repeat;
    /* width: 95%; */

}

body {
    background-color: blanchedalmond;
    padding: 0%;
    font-family: TASA;
    font-variant: small-caps;
}

nav {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    /* width: 95%; */
}

.button {
    background-color: rgb(251, 227, 138, 0.3);
    border: 5px double rgb(0, 20, 59);

    padding: 5px;
    width: 33%;
    color: rgb(0, 52, 80);
    font-family: 'TASA', sans-serif;
    font-variant: small-caps;
}

#welcome_message {
    color: rgb(0, 20, 59);
    background-color: rgb(251, 227, 138, 0.3);
    border: 5px double rgb(0, 20, 59);
    padding: 5px;
}

.information {
    display: flex;
    gap: 5px;
}

.table-1 {
    margin-top: 5px;
    color: rgb(0, 20, 59);
    background-color: rgb(251, 227, 138, 0.3);
    border: 5px double rgb(0, 20, 59);
    padding: 5px;
    width: 50%;
}


.form {
    margin-inline: 5px;
    margin-block: 10px;
    
    border: 5px double rgb(0, 20, 59);
    

    &>iframe {
        width: 100%;
        height: 640px;
        display: block;
        padding-right: 5px;
    }

}
/* .page-bottom{
    background-color: rgb(251, 227, 138, 0.3); 
   background-image: url("img/csumb_student_union.jpg");
   
} */